.flex_box {
    display: flex;
    width: 100vw;
    height: 10000px;    
    flex-direction: column; 
    flex-wrap: wrap;
    padding-top: 56px;
}
.left_up {
    background-color:white;
    display: flex;
    width: 288px;
    height: 214px;    
    margin-bottom: 13px;
    margin-left: 13%;
    }
.left_down{
    display: flex;
    width: 288px;
    height: 475px;    
    margin-bottom: 13px;
    margin-left: 13%;
    background-color:white;
}
.main{
    display: flex;
    background-color:white;
    width: 590px;
    height: 10000px;
}
.right_up {
    display: flex;
    background-color: white;
    margin-bottom: 13px;
    height: 368px;
    width: 288px;
    margin-right: 12%;
}
.right_down {
    display: flex;
    background-color:white;
    width: 288px;
    height: 154px;
    margin-right: 12%;
}