.flex_box {
  display: flex;
  width: 100vw;
  height: 10000px;    
  flex-direction: column; 
  flex-wrap: wrap;
  padding-top: 56px;
}
.profile {
  flex-direction: column; 
  background-color:white;
  display: flex;
  width: 290px;
  height: 214px;    
  margin-bottom: 13px;
  margin-left: 13%;
  }
.trend{
  display: flex;
  width: 290px;
  height: 475px;    
  margin-bottom: 13px;
  margin-left: 13%;
  background-color:white;
}
.feed{
  display: flex;  
  background-color:white;
  flex-direction: column;
  width: 590px;
  height: 10000px;
}
.follows {
  display: flex;
  background-color: white;
  margin-bottom: 13px;
  height: 388px;
  width: 290px;
  margin-right: 12%;
}
.copyrights {
  display: flex;
  background-color:white;
  width: 290px;
  height: 154px;
  margin-right: 12%;
}

body.dialogShowing { /* ...or body.dialogShowing */
  overflow: hidden;
}