@import "index";


@media only screen and (min-device-width: 480px){

}

.flex_box {
  display: flex;
  width: 100vw;
  height: 100vh;    
  flex-direction: column; 
  flex-wrap: wrap; 
}
.profile {
  position: absolute;
  flex-direction: column; 
  background-color:white;
  display: flex;
  width: 15vw;
  height: 30vh;    
  margin-bottom: 13px;
  margin-left: 12vw;
  margin-top: 7vh;
  }
.trend{
  display: flex;
  position: absolute;
  width: 15vw;
  height: 45vh;    
  margin-bottom: 13px;
  margin-top: 40vh;
  margin-left: 12%;
  background-color:white;
  }
.feed{
  display: flex; 
  position: absolute; 
  background-color:white;
  flex-direction: column;
  width: 30vw;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  margin-top: 7vh;
  left: 0;
  right: 0;
}
.follows {
  display: flex;
  background-color: white;
  margin-bottom: 13px;
  height: 42vh;
  width: 15vw;
  left: 1300px;
  position: absolute;
  margin-top: 7vh;
}
.copyrights {
  display: flex;
  background-color:white;
  width: 15vw;
  height: 154px;
  left: 1300px;
  top: 50vh;
  position: absolute;
}


